services:
  db:
    image: postgres:14.3-alpine
    container_name: arhatogram_db
    restart: always
    env_file: .env
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${DB_NAME}
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 5s
      timeout: 5s
      retries: 5

  api:
    build: .
    container_name: arhatogram_api
    env_file: .env
    depends_on:
      db:
        condition: service_healthy

  nginx:
    image: nginx:1.25-alpine
    container_name: arhatogram_web
    restart: always
    ports:
      - "80:80"
    depends_on:
      - api

volumes:
  postgres_data:
  static_volume:
  media_volume:
